In [1]:
from experiment_utils.experiments_helper import load_dense_index_from_disk, load_sparse_index_from_disk

In [2]:
import pyterrier as pt

if not pt.started():
    pt.init()

PyTerrier 0.10.0 has loaded Terrier 5.9 (built by craigm on 2024-05-02 17:40) and terrier-helper 0.0.8

No etc/terrier.properties, using terrier.default.properties for bootstrap configuration.

In [3]:
from pyterrier.measures import RR, nDCG, MAP

eval_metrics = [RR @ 10, nDCG @ 10, MAP @ 100]

In [4]:
from encoders.bge_base_en import BgeEncoder

package = "BAAI/"
model_name = "bge-base-en-v1.5"
q_encoder = BgeEncoder(package + model_name)
model_directory = 'bge'
path_to_root = "../../"
pipeline_name = "BM25 >> " + model_name

In [5]:
from experiment_utils.experiments_helper import get_test_dev_sets
from fast_forward.util.pyterrier import FFScore
from fast_forward_indexes_library_enhancements.pipeline_transformers import FFInterpolateNormalized, EncodeUTF

dataset_name = "irds:beir/fever"
dev_set_name = "irds:beir/fever/dev"
dataset_test_name = "irds:beir/fever/test"
pipeline_name = "BM25 >> " + model_name

test_topics, test_qrels, dev_topics, dev_qrels = get_test_dev_sets(dataset_test_name, dev_set_name)

# Spare index
retriever = load_sparse_index_from_disk(dataset_name, path_to_root, in_memory=True)

# Dense index
dense_index = load_dense_index_from_disk(dataset_name, q_encoder, model_name, path_to_root, model_directory,
                                         in_memory=False)

# test_topics = test_topics.sample(frac=0.02, random_state=42)

ff_score = FFScore(dense_index)
# ff_int = FFInterpolate(alpha=alpha)
ff_int = FFInterpolateNormalized(alpha=0.3)

encode_utf = EncodeUTF()

pipeline2 = retriever >> encode_utf

100%|██████████| 5416568/5416568 [00:07<00:00, 766045.51it/s]

In [6]:
df1 = pipeline2(test_topics)
df1

,qid,docid,docno,rank,score,query
0,163803,5091106,Ukraine_and_the_United_Nations,0,49.160246,ukrainian soviet socialist republic was a foun...
1,163803,1837460,Foreign_relations_of_Belarus,1,49.055587,ukrainian soviet socialist republic was a foun...
2,163803,5025366,Ukrainian_Republic,2,47.396605,ukrainian soviet socialist republic was a foun...
3,163803,5010017,Ukrainian_People's_Republic,3,46.124616,ukrainian soviet socialist republic was a foun...
4,163803,5082311,USSR_(disambiguation),4,44.123760,ukrainian soviet socialist republic was a foun...
...,...,...,...,...,...,...
6660073,81957,501720,Ananda_Lewis,995,15.888367,trouble with the curve is a television show
6660074,81957,1509524,E._Roger_Muir,996,15.888367,trouble with the curve is a television show
6660075,81957,1729375,Farma_(Czech_TV_series),997,15.888367,trouble with the curve is a television show
6660076,81957,1927868,Go'kväll,998,15.888367,trouble with the curve is a television show
6660077,81957,3043468,Lukas_Reiter,999,15.888367,trouble with the curve is a television show

In [8]:
from experiment_utils.experiments_helper import get_test_dev_sets
from fast_forward.util.pyterrier import FFScore
from fast_forward_indexes_library_enhancements.pipeline_transformers import FFInterpolateNormalized, EncodeUTF

from encoders.snowflake_arctic_embed_m import SnowFlakeQueryEncoder

package = "Snowflake/"
model_name = "snowflake-arctic-embed-xs"
q_encoder = SnowFlakeQueryEncoder(package + model_name)
model_directory = "snowflake"

dataset_name = "irds:beir/dbpedia-entity"
dev_set_name = "irds:beir/dbpedia-entity/dev"
dataset_test_name = "irds:beir/dbpedia-entity/test"
pipeline_name = "BM25 >> " + model_name

test_topics, test_qrels, dev_topics, dev_qrels = get_test_dev_sets(dataset_test_name, dev_set_name)

# Spare index
retriever = load_sparse_index_from_disk(dataset_name, path_to_root, in_memory=True)

# Dense index
dense_index = load_dense_index_from_disk(dataset_name, q_encoder, model_name, path_to_root, model_directory,
                                         in_memory=False)

# test_topics = test_topics.sample(frac=0.02, random_state=42)

ff_score = FFScore(dense_index)
# ff_int = FFInterpolate(alpha=alpha)
ff_int = FFInterpolateNormalized(alpha=0.3)

encode_utf = EncodeUTF()

pipeline2 = retriever >> encode_utf

100%|██████████| 4635922/4635922 [00:17<00:00, 262456.59it/s]

In [9]:
df1 = pipeline2(test_topics)
df1

,qid,docid,docno,rank,score,query
0,INEX_LD-20120111,608628,<dbpedia:R-Point>,0,25.479739,vietnam war movie
1,INEX_LD-20120111,798656,<dbpedia:Heroes_(1977_film)>,1,24.629708,vietnam war movie
2,INEX_LD-20120111,3184291,<dbpedia:Coordinates_of_Death>,2,24.628593,vietnam war movie
3,INEX_LD-20120111,3184310,<dbpedia:The_Land_of_Vietnamese>,3,24.231664,vietnam war movie
4,INEX_LD-20120111,2007656,<dbpedia:Terminology_of_the_Vietnam_War>,4,23.920315,vietnam war movie
...,...,...,...,...,...,...
396711,TREC_Entity-20,1182310,<dbpedia:Nick_Smith_(footballer_born_1988)>,995,12.910099,scotch whisky distilleries on the island of islay
396712,TREC_Entity-20,2436093,<dbpedia:Middleton_Lodge>,996,12.910099,scotch whisky distilleries on the island of islay
396713,TREC_Entity-20,2646523,<dbpedia:Peace_Be_Still_(James_Cleveland_album)>,997,12.910099,scotch whisky distilleries on the island of islay
396714,TREC_Entity-20,3021099,<dbpedia:Scots_Charitable_Society_of_Boston>,998,12.910099,scotch whisky distilleries on the island of islay
396715,TREC_Entity-20,3353784,<dbpedia:George_Halket>,999,12.910099,scotch whisky distilleries on the island of islay

In [10]:
import ast

filtered_rows = df1[df1['docno'].str.contains('Suzukake')]['docno'].iloc[0]

# Printing the filtered rows
y = filtered_rows
print(y)
z = ast.literal_eval(y).decode("utf-8")
z

b'Suzukake_no_Ki_no_Michi_de_"Kimi_no_Hohoemi_o_Yume_ni_Miru"_to_Itte_Shimattara_Bokutachi_no_Kankei_wa_D\xc5\x8d_Kawatte_Shimau_no_ka,_Bokunari_ni_Nannichi_ka_Kangaeta_Ue_de_no_Yaya_Kihazukashii_Ketsuron_no_Y\xc5\x8d_na

SyntaxError: unterminated string literal (detected at line 1) (<unknown>, line 1)

In [11]:
df2 = (retriever % 100 >> encode_utf)(test_topics)
df2

,qid,docid,docno,rank,score,query
0,125440,4614283,b'Stomp_the_Yard_(soundtrack)',0,36.388773,stomp the yard has meagan good in a minor role
1,125440,4601990,b'Stomp_the_Yard',1,35.434146,stomp the yard has meagan good in a minor role
2,125440,1099148,b'Collins_Pennie',2,32.134281,stomp the yard has meagan good in a minor role
3,125440,4552761,b'Stomp_the_Yard:_Homecoming',3,29.729887,stomp the yard has meagan good in a minor role
4,125440,2153633,b'Harry_Shum_Jr.',4,26.950157,stomp the yard has meagan good in a minor role
...,...,...,...,...,...,...
95,125440,4489570,b'Spiers_and_Boden',95,17.940394,stomp the yard has meagan good in a minor role
96,125440,4599706,b'Sustain_(album)',96,17.940394,stomp the yard has meagan good in a minor role
97,125440,597033,b'Arthur_Whittington',97,17.923718,stomp the yard has meagan good in a minor role
98,125440,2609731,b'Kenny_Mims',98,17.902330,stomp the yard has meagan good in a minor role
99,125440,2841542,"b""Let's_Go_(Trick_Daddy_song)""",99,17.874469,stomp the yard has meagan good in a minor role

In [16]:
row = df1[df1['docno'] == 'Co_Stomp']
print(row)

       qid    docid     docno  rank      score  \
16  125440  1171956  Co_Stomp    16  22.429014

                                             query
16  stomp the yard has meagan good in a minor role

In [17]:
print('Co_Stomp'.encode("utf-8"))

b'Co_Stomp'

In [20]:
df2 = pipeline2(test_topics)
df2

,qid,docid,docno,rank,score,query
0,125440,4614283,b'Stomp_the_Yard_(soundtrack)',0,36.388773,stomp the yard has meagan good in a minor role
1,125440,4601990,b'Stomp_the_Yard',1,35.434146,stomp the yard has meagan good in a minor role
2,125440,1099148,b'Collins_Pennie',2,32.134281,stomp the yard has meagan good in a minor role
3,125440,4552761,b'Stomp_the_Yard:_Homecoming',3,29.729887,stomp the yard has meagan good in a minor role
4,125440,2153633,b'Harry_Shum_Jr.',4,26.950157,stomp the yard has meagan good in a minor role
...,...,...,...,...,...,...
95,125440,4489570,b'Spiers_and_Boden',95,17.940394,stomp the yard has meagan good in a minor role
96,125440,4599706,b'Sustain_(album)',96,17.940394,stomp the yard has meagan good in a minor role
97,125440,597033,b'Arthur_Whittington',97,17.923718,stomp the yard has meagan good in a minor role
98,125440,2609731,b'Kenny_Mims',98,17.902330,stomp the yard has meagan good in a minor role
99,125440,2841542,"b""Let's_Go_(Trick_Daddy_song)""",99,17.874469,stomp the yard has meagan good in a minor role

In [21]:
row = df2[df2['docno'] == 'Co_Stomp'.encode("utf-8")]
print(row)

       qid    docid        docno  rank      score  \
16  125440  1171956  b'Co_Stomp'    16  22.429014

                                             query
16  stomp the yard has meagan good in a minor role

In [22]:
pipeline3 = retriever % 100 >> encode_utf >> ff_score

In [23]:
df3 = pipeline3(test_topics)
df3

no vectors for Co_Stomp
no vectors for Hiroki_Got

Empty DataFrame
Columns: [qid, docno, score_0, score, query]
Index: []

In [24]:
pipeline4 = retriever % 100 >> ff_score

In [26]:
!pip install pydev_jupyter_utils

huggingface/tokenizers: The current process just got forked, after parallelism has already been used. Disabling parallelism to avoid deadlocks...
To disable this warning, you can either:
	- Avoid using `tokenizers` before the fork if possible
	- Explicitly set the environment variable TOKENIZERS_PARALLELISM=(true | false)

Defaulting to user installation because normal site-packages is not writeable
ERROR: Could not find a version that satisfies the requirement pydev_jupyter_utils (from versions: none)
ERROR: No matching distribution found for pydev_jupyter_utils

In [28]:
pipeline4 = retriever % 100 >> ff_score
% debug pipeline4(test_topics)

NOTE: Enter 'c' at the ipdb>  prompt to continue execution.
> <string>(1)<module>()

no vectors for Co_Stomp
no vectors for Hiroki_Got

In [4]:
from general_dense_indexers.dense_index_one_dataset import get_dataset_name


def docs_iter(dataset):
    for d in dataset.get_corpus_iter():
        yield {'docno': str(d['docno'].encode('utf-8')), 'text': d['text']}


def index_one(prefix_dataset, dataset_name, max_doc_id_length):
    if not pt.started():
        pt.init(tqdm="notebook")

    dataset = pt.get_dataset(prefix_dataset + dataset_name)

    index_path = "./sparse_indexes/sparse_index_" + get_dataset_name(prefix_dataset + dataset_name)
    indexer = pt.IterDictIndexer(index_path, meta={'docno': max_doc_id_length})

    if 'dbpedia' in dataset_name or 'fever' in dataset_name:
        indexer.index(docs_iter(dataset), fields=["text"])
    else:
        indexer.index(dataset.get_corpus_iter(), fields=["text"])


prefix_dataset = "irds:beir/"
dataset_name = "dbpedia-entity"
max_id_length = 205
index_one(prefix_dataset, dataset_name, max_id_length)

beir/dbpedia-entity documents:   1%|          | 34576/4635922 [00:04<06:48, 11269.50it/s]

12:29:45.037 [ForkJoinPool-1-worker-3] WARN org.terrier.structures.indexing.Indexer - Adding an empty document to the index (b'<dbpedia:List_of_biblical_names_starting_with_C>') - further warnings are suppressed

beir/dbpedia-entity documents: 100%|██████████| 4635922/4635922 [06:44<00:00, 11451.32it/s]

12:39:07.041 [ForkJoinPool-1-worker-3] WARN org.terrier.structures.indexing.Indexer - Indexed 336 empty documents

In [5]:
prefix_dataset = "irds:beir/"
dataset_name = "fever"
max_id_length = 230
index_one(prefix_dataset, dataset_name, max_id_length)

beir/fever documents:   0%|          | 0/5416568 [00:00<?, ?it/s]

12:39:07.735 [ForkJoinPool-2-worker-3] WARN org.terrier.structures.indexing.Indexer - Adding an empty document to the index (b'1941_in_paleontology') - further warnings are suppressed

beir/fever documents: 100%|██████████| 5416568/5416568 [22:30<00:00, 4011.51it/s]

13:08:00.215 [ForkJoinPool-2-worker-3] WARN org.terrier.structures.indexing.Indexer - Indexed 20592 empty documents

In [6]:
print(str('Co_Stompé'.encode("utf-8")) == 'Co_Stompé'.encode("utf-8"))

AttributeError: 'str' object has no attribute 'hex'

In [9]:
import ast

x = str('Co_Stompé'.encode("utf-8"))

# Converting the string representation back to bytes
original_bytes = ast.literal_eval(x)

print(original_bytes == 'Co_Stompé'.encode("utf-8"))

True

In [5]:
from experiment_utils.experiments_helper import get_test_dev_sets, default_test_pipeline

dataset_name = "irds:beir/dbpedia-entity"
dev_set_name = "irds:beir/dbpedia-entity/dev"
dataset_test_name = "irds:beir/dbpedia-entity/test"
pipeline_name = "BM25 >> " + model_name

test_topics, test_qrels, dev_topics, dev_qrels = get_test_dev_sets(dataset_test_name, dev_set_name)

dev_topics = dev_topics.sample(frac=0.1, random_state=42)
test_topics = test_topics.sample(frac=0.1, random_state=42)
#
# print(dev_topics)
# print("ccccc")
# print(test_topics)
res, alpha = default_test_pipeline(dataset_name, test_topics, test_qrels, q_encoder,
                                   eval_metrics, model_name, pipeline_name, path_to_root, model_directory,
                                   dev_topics, dev_qrels, timed=True, in_memory_sparse=True,
                                   in_memory_dense=False)
res

100%|██████████| 4635922/4635922 [00:08<00:00, 577583.05it/s]
GridScan: 100%|██████████| 9/9 [00:21<00:00,  2.33s/it]

Best ndcg_cut.10 is 0.049423
Best setting is ['<fast_forward_indexes_library_enhancements.pipeline_transformers.FFInterpolateNormalized object at 0x7f0cd0159390> alpha=0.1']
Experiment took 127.699 seconds to execute.

,name,RR@10,nDCG@10,AP@100
0,dbpedia_entity: BM25 >> snowflake-arctic-embed-xs,0.685863,0.361272,0.241665